html,
body {
  margin: 0;
  padding: 0;
}
body {
  /* primary */
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  /* neutral */
  --Light-Grayish-Cyan-A: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-B: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  background-color: var(--Light-Grayish-Cyan-B);
  color: var(--Dark-Grayish-Cyan);
}
.header-background {
  width: 100%;
  height: 155px;
  background-image: url("../images/bg-header-desktop.svg");
  background-color: var(--Desaturated-Dark-Cyan);
  background-position: top right;
}
.jobs-section {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 80px;
  transform: translateY(-35%);
  background-color: white;
  align-items: center;
}
.jobs-filters {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding-top: 20px;
  padding-left: 45px;
}
.filter-box {
  display: flex;
  align-items: center;
  height: 25px;
  border-radius: 5px;
  background-color: var(--Light-Grayish-Cyan-A);
  margin-right: 7px;
  margin-bottom: 7px;
  cursor: pointer;
  margin-right: 30px;

}

.filter-text {
  text-align: center;
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 600;
}
.filter-image {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  background-image: url("../images/icon-remove.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 5px 5px 0;
  background-color: var(--Desaturated-Dark-Cyan);
}
.filter-image:hover {
  background-color: var(--Very-Dark-Grayish-Cyan);
}
.clear-filters-button {
  width: 20%;
  border: none;
  background-color: transparent;
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 600;
  cursor: pointer;
}
.clear-filters-button:hover {
  text-decoration: underline;
}
.jobs-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
.job-card {
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 3px 3px 3px 3px rgb(231, 240, 247);
}
.job-car-left {
  display: flex;
  flex-direction: column;
}
.border-card {
  border-left: 6px solid var(--Desaturated-Dark-Cyan);
}
.job-info {
  margin-top: -25px;
  border-bottom: 2px solid var(--Dark-Grayish-Cyan);
}
.company-logo {
  display: block;
  width: 60px;
  height: 60px;
  transform: translate(0px, -35px);
}
.job-data {
  display: flex;
  align-items: center;
}
.job-data p {
  margin-right: 30px;
  font-size: 1.1rem;
}
.company-name {
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 600;
}
.tag {
  text-transform: uppercase;
  background-color: var(--Desaturated-Dark-Cyan);
  font-weight: 500;
  color: var(--Light-Grayish-Cyan-A);
  padding: 8px;
  border-radius: 13px;
}
.featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
}
.position-text {
  margin: 0;
  font-size: 1.5rem;
  color: var(--Very-Dark-Grayish-Cyan);
  font-weight: 600;
  cursor: pointer;
}
.position-text:hover {
  color: var(--Desaturated-Dark-Cyan);
}
.job-specifications {
  display: flex;
}
.job-specification {
  margin-right: 25px;
  position: relative;
}
.job-specification::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--Dark-Grayish-Cyan);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: -25%;
}
.job-specification:last-child::after {
  content: none;
}
.job-requirenments {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.job-tags {
  margin-right: 15px;
  margin-bottom: 15px;
  color: var(--Desaturated-Dark-Cyan);
  background-color: var(--Light-Grayish-Cyan-B);
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}
.job-tags:hover {
  background-color: var(--Desaturated-Dark-Cyan);
  color: var(--Light-Grayish-Cyan-A);
}

@media screen and (min-width: 780px) {
  .jobs-section {
    height: 50px;
  }
  .jobs-filters {
    padding-top: 10px;
    padding-left: 50px;
    justify-content: left;
  }
  .job-card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .job-car-left {
    flex-direction: row;
    align-items: center;
  }
  .job-requirenments {
    align-items: center;
  }
  .job-info {
    border-bottom: none;
  }
  .company-logo {
    width: 70px;
    height: 70px;
    transform: none;
    margin-right: 25px;
  }
  
}
